IDEDocumentationWindow.xcuserstate
IDEEditorInteractivityHistory
IDEFindNavigatorScopes.plist
IDELibraryWindowController.xcuserstate
IDENamedTabStateContexts.plist
IDEOrganizerWindowController.xcuserstate
IDEPreferencesController.xcuserstate
Portal
Previews
SwiftMigrationTargetChooser.xcuserstate
xcdebugger
